<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

   <title>TEST</title>

    <style>
     html, body {
     display: flex;
     justify-content: center;
     height: 100%;
     }
     body, div, h1, form, input, p { 
     padding: 0;
     margin: 0;
     outline: none;
     font-family: Roboto, Arial, sans-serif;
     font-size: 16px;
     color: #666;
     }
     h1 {
     padding: 10px 0;
     font-size: 32px;
     font-weight: 300;
     text-align: center;
     }
     h5 {
     font-size: 16px;
     font-weight: 300;
     text-align: center;
     }
     .main-block {
     max-width: 340px;  
     padding: 10px 0;
     margin: auto;
     border-radius: 5px; 
     border: solid 1px #ccc;
     box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
     background: #ebebeb; 
     }
     form {
     margin: 0 30px;
     }
     label#icon {
     margin: 0;
     border-radius: 5px 0 0 5px;
     }
     #icon {
     display: inline-block;
     padding: 9.3px 15px;
     box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
     background: #1c87c9;
     color: #fff;
     text-align: center;
     }
     .btn-block {
     margin-top: 10px;
     text-align: center;
     }
     button {
     width: 100%;
     padding: 10px 0;
     margin: 10px auto;
     border-radius: 5px; 
     border: none;
     background: #1c87c9; 
     font-size: 14px;
     font-weight: 600;
     color: #fff;
     }
     button:hover {
     background: #26a9e0;
     }
   </style>
  </head>
<body id="page-top" style="background-color: #baf4de;">
  <div class="main-block">
    <h1><%= name %>, Authentication successfull</h1>
    <form method="post" action="/rest/v1/events">
      <h5>You are now connected with your google calendar</h5>
      <h5>Choose between which dates , you need to get Events</h5>
      <div class="btn-block">
        <label for="startDate">Start Date:</label>
        <input type="date" name="startDate" id="startDate" placeholder="Start Date" required/>
        <br><br>
        <label for="endDate">End Date:</label>
        <input type="date" name="endDate" id="endDate" placeholder="End Date" required/>
        <button type="submit" href="/">Get List Of Events</button>
      </div>
    </form>
  </div>
</body>
</html>